<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html" />
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<dom-module id="dashboards-view">
  <template>
    <px-view-header title="Dashboard" style="display: block; margin-bottom: 6px;"></px-view-header>
    <px-card icon="fa-tachometer" header-text="Violation Trends">
    </px-card>
  </template>
  <script>
    Polymer({

      is: 'dashboards-view',

      properties: {
        
      },

      ready: function ready() {
    
      },

    });
  </script>
</dom-module>
